<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
    <meta charset="UTF-8">
    <!-- <meta http-equiv="X-UA-Compatible" content="IE=edge"> -->
    <link rel="stylesheet"  href="/static/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Reset Password</title>
</head>
<body>
    <div class="wrapper">
    <h1>Reset Password</h1>
    <div class="form-container">
        <div class="form-inner">
            <form action="/confirm_password" method="post" class="signup">
                <label for="password">Password:</label>
                <div class="field">
                <input type="password" id="password" name="password" required placeholder="Password">
                </div>
                <br/><br/>
                <label for="confirm_password">Confirm Password:</label>
                <div class="field">
                <input type="password" id="confirm_password" name="confirm_password" required placeholder="Confirm Password">
                </div>
                <div class="field btn">
                    <div class="btn-layer"></div>
                    <input type="submit" value="Submit">
                </div>
            </form>
        </div>
    </div>
    </div>
    <script src="/style.js"></script>
</body>
</html>