<!DOCTYPE html>
<html lang="en" dir="ltr">
    <head>
        <meta charset="utf-8">
        <title>INNO-HUB</title>
        <link rel="stylesheet" href="/static/style.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div class="wrapper">
            <div class="title-text">
                <div class="title login">
                   Welcome to INNO-HUB!
                </div>
             </div>
             <br/>
             <div class="form-container">
                    <form>
                        <div class="field btn">
                            <div class="btn-layer"></div>
                            <input type="submit" value="Innovator">
                        </div>
                    </form> 
                    <br/>
                    <br/>
                    <form>
                        <div class="field btn">
                            <div class="btn-layer"></div>
                            <input type="submit" value="Investor">
                        </div>
                    </form>
                </div>         
        </div>       
    </body>