<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Home</title>
    <link rel="stylesheet" href="style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
  </head>
  <body>
    <div class="wrapper">
       <div class="title-text">
          <div class="title login">
             Upload Your Document
             <br/>
             <a style="text-align: center;" href="https://docs.google.com/forms/d/e/1FAIpQLSfACUgj7DRp6VVYBEWChDTftLNbacGPDPTd1wI_g1f_y-Ri4w/viewform?embedded=true">Click</a>
          </div>
       </div>
    </div>
  </body>
</html>