<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Logout</title>
        <link rel="stylesheet" href="static/style.css">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div class="wrapper">
            <form method="post">
            <h1>Logged Out</h1>
            <br/>
            <label>Thank you for using INNO-HUB</label>
            </form>
        </div>
    </body>
</html>